<%- include('partials/header'); -%>

<main>
    <section class="profile">
        <h2>User Profile</h2>
        <div class="profile-info">
            <img src= <%= user.picture %> alt="Profile Picture" class="profile-pic" >
            <h3><span><%= user.firstName %> <%= user.lastName %></span></h3>
            <p><span><%= user.email%></span></p>
            <p><span>A passionate journalist and coffee enthusiast.</span></p>
        </div>
    </section>
</main>

<%- include('partials/footer'); -%>